@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-color: #81e3a0;
    --light-color: #f3f3f3;
    --dark-color: #353535;
}

html {
    scroll-behavior: smooth;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
    @apply text-light-color
}

a {
    @apply decoration-0 text-light-color transition-colors duration-200 ease-in-out m-1 hover:text-accent-color
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit; /* Preferred icon size */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    user-select: none;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

}
