@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$accent: #78B68C;
$accent-bright: #8eb650;
$light: #f3f3f3;
$dark: #353535;

html {
    scroll-behavior: smooth;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
    color: $light;
    position: relative;
    z-index: 1;
}

body {
    background-color: $dark;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 30%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $dark;
}

::-webkit-scrollbar-thumb {
    background: $accent;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($accent, 10%);
}
  
details {
    position: relative;
    z-index: 3;
    width: 30vw;
    background: lighten(#000, 15%);
    margin-bottom: 0.5rem;
    border-radius: 5px;

    p {
        padding: 1rem;
        font-size: max(1.2vw, 17px) !important;
    }
}
  
summary {
    padding: 1rem;
    display: block;
    background: darken($dark, 10%);
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    font-size: max(1.3vw, 20px);
    transition: 0.2s ease;
    
    &:hover {
        color: $accent;
    }
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.6rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

details[open] summary {
    color: $accent;
}

details summary::-webkit-details-marker {
    display:none;
}  

@mixin centered {
    margin-left: auto;
    margin-right: auto;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

gradient {
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, $accent 22%, rgba(174,221,13,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    display: inline;
}

#faq {
    background-color: $dark;
    a {
        color: $accent;
        text-decoration: underline;
    }
}

.faqcolumn {
    display: block;
    margin-left: 2vw;
}

.faqdiv {
    display: flex;

    .header {
        font-size: max(2.3vw, 30px);
        text-align: center;
        margin-bottom: 0px;
        color: $accent;
    }
}

@media screen and (max-width: 1000px) {
    .faqdiv {
        display: block;

        .header {
            margin-bottom: 15px;
        }
    }

    .faqcolumn {
        margin-left: 0;
    }

    details {
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 700px) {
    details {
        width: 100%;
    }
}

@keyframes homeAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: inherit;
    }
}

@keyframes fadeUp {
    from {
        margin-top: 100px;
        opacity: 0;
    }
    to {
        margin-top: inherit;
        opacity: inherit;
    }
}

#mlh {
    display:block;
    max-width:100px;
    min-width:10px;
    position:fixed;
    right:50px;
    top:0;
    width:max(6%, 45px);
    z-index:10000;
}

button {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: $accent;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: max(1.4vw, 16px);
    margin-top: 10px;

    transition: background-color 0.2s ease;

    &:hover {
        background-color: darken($accent, 15%);
    }
    &:active {
        transform: scale(0.95);
    }
}

.container {
    width: 100%;
    padding: 15vh 3vw 10vh 3vw;
    max-width: none;
    align-items: center;

    h1 {
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: max(3.5vw, 35px);
    }

    #title {
        text-align: center;
        font-size: max(5vw, 40px);
        margin-bottom: -20px;
        margin-top: -10px;
        animation-name: homeAnimation;
        animation-duration: 3s;    
    }
    
    #homelogo {
        width: 18%;
        min-width: 200px;
        position: relative;
        z-index: 10;
        margin-top: -10px;
    }

    #desc {
        animation-name: fadeUp;
        animation-duration: 2s;
        position: relative;
        z-index: 1;
    }

    p {
        font-size: max(1.4vw, 17px);
    }

    img {
        width: max(30%, 250px);
    }

}

#home {
    height: 93vh;
    position: fixed;
    top: 10;
    z-index: -1;
    pointer-events: auto;
}

#gear0 {
    position: absolute;
    right: 0;
    top: 0;
}

#gear1 {
    position: absolute;
    top: 40vh;
    width: 20%;
    left: 0;
    min-width: 150px;
}

#gear2 {
    position: absolute;
    right: 0;
    top: 55vh;
    transform: scaleX(-1);
    width: 15%;
    min-width: 150px;
}

#gear3 {
    position: absolute;
    right: 0;
}

#gear4 {
    position: absolute;
    left: 0;
    width: 20%;
}

#gear5 {
    position: absolute;
    left: 0;
    transform: scaleY(-1);
}

#watch {
    position: absolute;
    left: 0;
    margin-top: 300px;
}

#gear6 {
    position: absolute;
    width: 15%;
}

#gear7 {
    position:absolute;
    left: 0;
    width: 7%;
}

#gear8 {
    position: absolute;
    right: 0;
}

#gear9 {
    position: absolute;
    transform: scaleX(-1);
    left: 0;
    width: 20%;
}

@media screen and (max-width: 800px) {
    #gear5 {
        display: none;
    }
    #watch {
        display: none;
    }
}

#about {
    background-color: darken($dark, 10%);
    border-top: 20px solid;
    border-top-color: darken($dark, 7%);
    margin-top: 94vh;
    outline: 20px solid darken($dark, 2%);
}

#schedule {
    background-color: $dark;
    font-size: max(1.5vw, 15px);
    .left {
        margin-right: 50vw;
        text-align: center;
        width: 49vw;
        background-color: orange;
        border-radius: 10px;
    }
    .right {
        margin-left: 51%;
        text-align: center;
        width: 50vw;
        background-color: orange;
        border-radius: 10px;
    }
}

#speakers {
    background-color: $dark;
    a {
        width: 100%;
        color: $accent;
        text-decoration: underline;
    }
}

@media screen and (max-width: 600px) {
    #silver, #bronze, #partners {
        flex-direction: column !important;
        gap: 0px !important;
    }
}

#sponsors {
    display: flex;
    flex-direction: column;
    background-color: darken($dark, 10%);
    position: relative;
    z-index: 3;

    a {
        color: $accent;
        text-decoration: underline;
        position: relative;
        z-index: 3;
    }

    h2 {
        font-size: max(3vw, 20px);
    }

    img {
        @include centered();
    }

    @mixin sponsor {
        max-width: none; 
        @include centered();
        align-items: center;
        align-content: center;
        margin: auto;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        transition: transform 0.2s;
        flex-wrap: wrap;
        margin-bottom: 20px;
        object-fit: contain;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.95);
        }
    }

    #gold {
        img {
            width: max(30vw, 270px);
            height: max(12vw, 120px);
            @include sponsor();
        }
    }

    #silver, .partner, #partners {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;

        img {
            @include centered();
            width: max(20vw, 200px);
            height: max(11vw, 110px);
            @include sponsor();
            padding: 5px;
        }
    }

    #bronze {
        flex-direction: row;
        gap: 50px;
        img {
            width: max(15vw, 150px);
            height: max(9vw, 70px);
            @include sponsor();
            padding: 5px;
        }
        margin-bottom: 10px;
        margin-top: -10px;
    }

    .tier {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        text-align: center;
        
        .company {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}

#team {
    background-color: darken($dark, 10%);
    
    .column {
        display: block;
        width: 50%;

        h1 {
            text-align: center;
            font-size: max(3vw, 25px);
        }

        p {
            font-size: max(1.5vw, 15px);
        }

        a {
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: $accent;
            }
        }
    }
    
    .headshot {
        border-image-slice: 1;
        border-radius: 50%;
        border: $accent solid 5px;
        width: max(35%, 125px);
        max-width: none;
        @include centered();
        transition: border-radius 0.3s;

        &:hover {
            border-radius: 35%;
        }
    }
}

#teamcontainer {
    display: flex;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        margin: auto;
    }
    #teamcontainer {
        display: block;
    }
}

#contact {
    position: relative;
    z-index: 3;
    background-color: $dark;
    a {
        cursor: pointer;
        text-decoration: underline;
        color: $accent;
    }
}

.spaced {
    display: flex;
    justify-content: space-between;   
}

@media screen and (max-width: 1000px) {
    .spaced {
        display: block;
    }
    .container {
        padding: 15vh 13vw 10vh 13vw;
        
        #title {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        img {
            @include centered();
        }    
    }
    h1 {
        text-align: center !important;
    }
    .img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        width: 60%;
    }
}

.nav {
	display: flex;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
	background-color: #000;
	padding: 15px 18px 15px 18px;
    color: #000;
	align-items: center;
    z-index: 11;
	position: sticky;
    top: 0;
	transition: 0.2s ease;
    line-height: 40px;
    font-size: max(1.3vw, 25px);

    #links {
        @include centered();
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    a {
        // margin-right: 0.5vw;
        color: $light;
        transition: color 0.2s ease;

        img {
            margin-left: 0px;
            cursor: pointer;
            width: 50px;
        }
        
        &:hover {
            color: $accent;
        }    
    }
}


.menuicon {
	display: none;
    color: #fff;
    cursor: pointer;
    font-size: max(1.5vw, 25px);
}

@media screen and (max-width: 830px) {
    p {
        text-align: center;
    }
	.nav #links {display: none;}
	.menuicon {
	  float: right;
	  display: block;
	  position: fixed;
	  right: 15px;
	  top: 27px;
	  font-size: 27px;
	}
	.nav.responsive {
        display: block;
		#links {
            display: block;
            float: none;
            text-align: left;
            left: 0;
            transform: none;
            position: static;
            white-space: normal;
            
            a {
                display: block;
            }
		}  
	}
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit; /* Preferred icon size */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    user-select: none;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

#footerspaced {
    padding: 2vw;
    display: block;
    justify-content: center;
    text-align: center;
    @include centered();

    p {
        font-size: max(1.5vw, 13px);
    }
    
    a {
        transition: color 0.2s ease;
        &:hover {
            color: $accent;
        }
        margin-left: 10px;
        cursor: pointer;
        white-space: nowrap;
    }
}

// @media screen and (max-width: 1000px) {
//     #footerspaced {
//         display: block !important;
//         justify-content: center !important;
        
//         h1, a {
//             text-align: center !important;

//         }
//     }
// }

footer {
    background-color: #0B1015;
}